#text {
    font-size: 4em;
    font-weight: bold;
    color:#666;
    text-align: center;
}
#text2 {
    text-align: center;
    color:red;
}
#timer {
      text-align: center;
}
.element {
      text-align: center;
} 
#btn {
  border: 1px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

#btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
span {
    transition: all 300ms 0s ease;
}
.add-blue {
    font-size: 0.5em;
    color: #00f;
}
 h1 {
    text-align: center;
}
#risutart {
    bottom: 700px;
    position: absolute;
    font-weight: 200;
}
